################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/.claude
__pycache__/
*.pyc
dist/
build/
*.spec
upx/
